<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.jboa.dao.IStatisticsDao">

	<select id="queryStatisticsByMonth" resultType="statistics">
		SELECT YEAR,MONTH,departmentId,departmentName,SUM(money) money FROM tb_count
		<where>
			<if test="year != null">
				and year = #{year}
			</if>
			<if test="startMonth != null">
				and month >= #{startMonth}
			</if>
			<if test="endMonth !=null">
				and month &lt;= #{endMonth}
			</if>
			<if test="emp.positionId == 1">
				and departmentId = #{emp.departmentId}
			</if>
		</where>
		<if test="emp.positionId == 1">
			GROUP BY departmentId,MONTH
		</if>
		<if test="emp.positionId != 1">
			GROUP BY MONTH
		</if>
		
	</select>
	
	<select id="queryStatistcsMonthDetails" resultType="statistics">
		SELECT countId,employeeId,employeeName,YEAR,MONTH,departmentId,departmentName,SUM(money) money FROM tb_count
		<where>
			<if test="emp.positionId == 1">
				and departmentId = #{departmentId}
			</if>
			<if test="month != null">
				and month = #{month}
			</if>
		</where>
		<if test="emp.positionId == 1">
			GROUP BY employeeId
		</if>
		<if test="emp.positionId != 1">
			GROUP BY departmentId
		</if>
	</select>
	
	<select id="queryStatisticsByYear" resultType="statistics">
		SELECT YEAR,SUM(money) money FROM tb_count
		<where>
			<if test="startYear != null">
				and year >= #{startYear}
			</if>
			<if test="endYear !=null">
				and year &lt;= #{endYear}
			</if>
			<if test="emp.positionId == 1">
				and departmentId = #{emp.departmentId}
			</if>
		</where>
		GROUP BY YEAR
	</select>
	
	<select id="queryStatistcsYearDetails" resultType="statistics">
		SELECT employeeId,employeeName,departmentId,departmentName,YEAR,SUM(money) money FROM tb_count
		<where>
			<if test="emp.positionId == 1">
				and YEAR = #{year} AND departmentId = #{emp.departmentId}
			</if>
			<if test="emp.positionId != 1">
				and YEAR = #{year} 
			</if>
		</where>
		
		<if test="emp.positionId == 1">
			GROUP BY employeeId
		</if>
		<if test="emp.positionId != 1">
			GROUP BY departmentId
		</if>
	</select>

	<insert id="saveStatistics">
		INSERT INTO tb_count (money,YEAR,MONTH,departmentId,departmentName,employeeId,employeeName)
		SELECT totalCount,YEAR(createTime) `year`, MONTH(createTime) `month`,
		r.departmentId,departmentName,createMan employeeId,employeeName
		FROM tb_reimburse r INNER JOIN department d ON d.departmentId = r.departmentId
		INNER JOIN employee emp ON emp.employeeId = r.createMan WHERE statusId = 5
		AND createTime >= #{currTime}
	</insert>

</mapper>